h1 {
    font-family: "Lucida Handwriting";
    text-align: center;
}

h2 {
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/*
Need to finish this to make text gray and no underline!
*/
.bars {
    font-weight: 1000;
    font-size: x-large;
    height: 53px;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 15px;
    padding-top: 30px;
    color: gray;
    text-decoration: none;
}
.bar1 {
    background-color: lightyellow;
}
.bar2 {
    background-color: lightblue;
}
.bar3 {
    background-color: mediumaquamarine;
}
.bar4 {
    background-color: rgb(80, 119, 192);
}
.bar5 {
    background-color: rgb(105, 88, 133);
}

.box {
    border: 2px solid black;
    width: 33%;
    text-align: left;
    text-justify: auto;
}

.big.box {
    width: 66%;
}

p {
    padding: 5px;
}

